
    <mat-card class="container w-75 ">
      <mat-card-content >
  
        <div class="d-flex justify-content-center align-items-center mb-4 offset-1">
          <label for="file" class="uploadIcon  text-center bg-light   rounded-circle"><a > <mat-icon>camera_enhance </mat-icon></a></label>
          <input type="file" id="file" accept="image/*"  (change)="onSelectFile($event)" class="form-control-file" />
          <img class="rounded-circle  "
                [src]="retrievedImage"
               alt="" width="120" height="120">
  
        </div>
        <div class="row">
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>{{'FirstName' | translate}}</mat-label>
            <input matInput  [(ngModel)]="user.firstName" maxlength="10" placeholder="{{'FirstName' | translate}}" required>
          </mat-form-field>
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>{{'LastName' | translate}}</mat-label>
            <input matInput maxlength="10" [(ngModel)]="user.lastName" placeholder="{{'LastName' | translate}}" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input matInput placeholder="{{'EmailExample' | translate}}" [(ngModel)]="user.email" [formControl]="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>{{'Role' | translate}}</mat-label>
            <mat-select   [(ngModel)]="user.role" #role="ngModel"  placeholder="{{'Role' | translate}}" required>
              <mat-option disabled > {{'SelectRole' | translate}}</mat-option>
              
              <mat-option value="TL"> TL</mat-option>
              <mat-option value="RC" selected="RC">RC</mat-option>
              <mat-option value="Client"> Client</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>{{'Site' | translate}}</mat-label>
            <mat-select   [(ngModel)]="user.site" #role="ngModel"  placeholder="{{'Site' | translate}}" required>
              <mat-option disabled >{{'SelectSite' | translate}}</mat-option>
              
              <mat-option value="Multidiag"> Multidiag</mat-option>
              <mat-option value="ATAL" selected="ATAL">ATAL</mat-option>
              <mat-option value="ACTIA_Italie"> ACTIA Italie</mat-option>
              <mat-option value="ACTIA_Automotive"> ACTIA Automotive</mat-option>
            </mat-select>
          </mat-form-field>
        
           <mat-form-field class="col-6" appearance="fill" *ngIf="role.value=='RC'">
            <mat-label>{{'Responsible' | translate}}</mat-label>
            <mat-select   [(ngModel)]="user.responsable" #role="ngModel" required>
              <mat-option disabled >{{'selectATeamLeader' | translate}}</mat-option>
              
              <mat-option *ngFor="let user of TL" [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
            </mat-select>
          </mat-form-field> 
        </div>
        
        <div class="row">
          <mat-form-field appearance="fill" class=" col-6 ">
            <mat-label>{{'Password' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{'Password' | translate}}"  [formControl]="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-6">
            <mat-label>{{'ConfirmPassword' | translate}}</mat-label>
            <input matInput [type]="show ? 'password' : 'text'" placeholder="{{'ConfirmPassword' | translate}}"
                   [formControl]="confirmPassword" required>
            <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="confirmPassword.invalid">{{getErrorConfirmPasswordMessage()}}</mat-error>
            <mat-error *ngIf="confirmPassword.dirty &&confirmPassword.value!=password.value">password does not match</mat-error>
          </mat-form-field>
        </div>
  
      </mat-card-content>
      <mat-card-actions class="p-2" >
        <div class="row justify-content-end">
          <button mat-button mat-dialog-close class="w-25 " (click)="addUser()"> {{'AddUser' | translate}} </button>
        </div>
      </mat-card-actions>
    </mat-card>
