<h1 mat-dialog-title> Correct a file request : {{requestfile.name}} </h1>
<h2>Checklist to verify:</h2>
<div class="row">
<div class="col-6">
  <section class="example-section">
    
    <p *ngFor=" let v of checklist">
      <mat-checkbox [checked]="v.state" (change)="v.state=!v.state">{{v.infos}}</mat-checkbox>
    </p>
  </section>
</div>

<div class="col-6">
  <label for="exampleFormControlTextarea1">Comments</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
</div>
</div><br><br>


<div class="  col-4 m-5 p-2" >
    <h1>Context of the request</h1> <br>

    
        <mat-form-field  class="w-100">
            <mat-label>Brand</mat-label>
            <mat-select [(value)]="selected" [formControl]="brand">
                <mat-option value="Renault">Renault</mat-option>
                <mat-option value="Peugeot">Peugeot</mat-option>
                <mat-option value="Citroen">Citroen</mat-option>
                <mat-option value="BMW">BMW</mat-option>
                <mat-option value="Volkswagen">Volkswagen</mat-option>
                <mat-option value="Hyundai">Hyundai</mat-option>
                <mat-option value="Mazda">Mazda</mat-option>
                <mat-option value="Toyota">Toyota</mat-option>
                <mat-option value="Audi">Audi</mat-option>
                <mat-option value="Suzuki">Suzuki</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field   class="w-100">
            <mat-label> ECU</mat-label>
            <input matInput [formControl]="ECU" required>
            <mat-error *ngIf="ECU.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>


        <mat-form-field  class="w-100">
            <mat-label>Target</mat-label>
            <mat-select [(value)]="selected1" [formControl]="target">
                <mat-option value="II_2019_pack">II 2019 pack</mat-option>
                <mat-option value="III_2019_pack">III 2019 pack</mat-option>
                <mat-option value="II_2020_pack">II 2020 pack</mat-option>
            </mat-select>
        </mat-form-field>
   
</div>



<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Validate</button>
</mat-dialog-actions>
