<div >
    <h2>{{'Select the log type to upload:' | translate}} {{file.type}} Log</h2>
</div>
<br><br>
<p>{{'First, you have to upload the Reference log and then upload the other log(Error or @TTBT) to make the comparison' | translate}}</p>
<div>
    <mat-form-field class="col-6" appearance="outline">
        <mat-label>{{'Type' | translate}}</mat-label>
        <mat-select [(ngModel)]="file.type" #type="ngModel" placeholder="Type" required>
            <mat-option disabled>{{'select the log type' | translate}} </mat-option>
            <mat-option value="Error">{{'Error Log' | translate}}</mat-option>
            <mat-option value="Ref" selected="Ref">{{'Reference Log' | translate}}</mat-option>

            <mat-option value="TBBT_FNC">fnc</mat-option>
            <mat-option value="TBBT_GPC">gpc</mat-option>
            <mat-option value="TBBT_MENU">menu</mat-option>

            <mat-option value="TBBT_FNC_Ref">fncref</mat-option>
            <mat-option value="TBBT_GPC_Ref">gpcref</mat-option>
            <mat-option value="TBBT_MENU_Ref">menuref</mat-option>

        </mat-select>
    </mat-form-field>
</div>


<br><br>
<div class="col-6">
    <div class="file-upload">
        <input type="file" name="file" class="file-input" style="margin-right: 5%;" [accept]="requiredFileType"
        (change)="onSelectFile($event)" #fileUpload >        
    </div>
    <button mat-button class="mat-raised-button  " style="position: relative; left: 80%;" color="accent"
    (click)=" updloadFile()">{{'Validate' | translate}} </button>
</div>
