
<h1 mat-dialog-title>Forgot Password</h1>
<p><i>Enter your email and a mail will reach you so you can reset your password</i></p>
<div mat-dialog-content  >
  <div class="example-container">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button mat-button [disabled]="!email.valid" (click)="sendEmail()">Send</button>

</div>
