<div class="example-button-container">
  <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="redirectfaqchild()"
    style="position: relative; left: 90%;">
    <mat-icon>question_answer</mat-icon>
  </button>
</div>


<br>


<mat-toolbar color="primary">{{title}}</mat-toolbar>
<mat-accordion [displayMode]="displayMode" [multi]="multi" class="faq-container">
  <br>
  <mat-expansion-panel *ngFor="let faqItem of ListFaqs">
    <mat-expansion-panel-header>Q: {{faqItem.question}}</mat-expansion-panel-header>
    <div class="row">
      <mat-card class="col-4" style="background-color: rgb(173, 185, 185);">A: {{faqItem.answer}}</mat-card>
      <mat-card class="col-8"><div [innerHTML]="faqItem.title"></div></mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>