<div class="container d-flex h-100">
    <div class="row  w-75 m-auto justify-content-center align-self-center">
      <mat-card>
        <h1 mat-card-title>Forgot Password</h1>
        <div mat-card-content>
          <form [formGroup]="passwordForm">
            <div class="example-container">
  
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" [formControl]="password"
                       required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="example-container">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="show ? 'password' : 'text'" placeholder="confirm password"
                       [formControl]="confirmPassword" required>
                <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="confirmPassword.invalid">{{getErrorConfirmPasswordMessage()}}</mat-error>
                <mat-error *ngIf="confirmPassword.dirty &&confirmPassword.value!=password.value">password not match</mat-error>
              </mat-form-field>
            </div>
  
            <div class=" row justify-content-end">
              <button mat-button class="w-25"  [disabled]="confirmPassword.value!=password.value"(click)="confirm()">Confirm</button>
  
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
  