
<div  *ngFor="let faqItem of ListFaqs" class="row w-100">
  <div class="col-5">
<mat-card style="background-color: rgb(218, 210, 210);">
  <mat-card-title>{{faqItem.question}}</mat-card-title>
  <!-- <mat-card-subtitle>{{faqItem.user.firstName}} {{faqItem.user.firstName}}</mat-card-subtitle> -->
  <mat-card-actions align="end">
    <button mat-button  (click)="openDescription(faqItem)">Read description</button>
    <button mat-button (click)="onEdit(faqItem)">Answer</button>
  </mat-card-actions>
</mat-card>
<br>
</div>
</div>
