<h1 style="text-align: center;">{{'Error Log' | translate}} {{logs?.creationDate|date}}</h1>
<mat-sidenav-container fxFlex="0 1 auto">
  <mat-sidenav-content>
    <mat-form-field appearance="standard">
      <mat-label>{{'Filter' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- numero Column -->
      <ng-container matColumnDef="numero"  sticky>
        <th mat-header-cell *matHeaderCellDef style="white-space: nowrap; color: teal;" >
         <b>{{'The codes used for every error' | translate}}</b>  
        </th>
        <td mat-cell *matCellDef="let element" style="white-space: nowrap;"><b> {{ getValue(element.numero)}}</b> &nbsp;&nbsp;&nbsp;</td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;color: teal;">
          <b>{{'Description' | translate}}</b> 
        </th>
        <td mat-cell *matCellDef="let element" style="font-size: 12px;"> {{element.description}} </td>
      </ng-container>

      <!-- filename Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef style="color: teal;">
          <b>{{'Filename' | translate}}</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of logs error"></mat-paginator>

  </mat-sidenav-content>
</mat-sidenav-container>

<br><br>
<h1 style="text-align: center;">{{'Function Cpp' | translate}}</h1>
<mat-sidenav-container fxFlex="0 1 auto">
  <mat-sidenav-content>
    <mat-form-field appearance="standard">
      <mat-label>{{'Filter' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter2($event)" placeholder="" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

      <!-- filename Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>
          {{'Filename' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>
    <mat-paginator #paginatorLegal="matPaginator" [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of logs"></mat-paginator>

  </mat-sidenav-content>
</mat-sidenav-container>

<br><br>
<h1 style="text-align: center;">{{'GPC Log' | translate}}</h1>
<mat-sidenav-container fxFlex="0 1 auto">
  <mat-sidenav-content>
    <mat-form-field appearance="standard">
      <mat-label>{{'Filter' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter2($event)" placeholder="" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

      <!-- filename Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>
          {{'Filename' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>
    <mat-paginator #paginator2="matPaginator" [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of logs"></mat-paginator>

  </mat-sidenav-content>
</mat-sidenav-container>


<br><br>
<h1 style="text-align: center;">{{'Flowchart' | translate}}</h1>
<mat-sidenav-container fxFlex="0 1 auto">
  <mat-sidenav-content>
    <mat-form-field appearance="standard">
      <mat-label>{{'Filter' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter2($event)" placeholder="" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

      <!-- filename Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>
          {{'Filename' | translate}}
        </th>
        <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>
    <mat-paginator #paginator3="matPaginator" [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of logs"></mat-paginator>

  </mat-sidenav-content>
</mat-sidenav-container>