<div class="row">
    <div echarts [options]="chartOption5" class="demo-chart col-6" ></div>
    <div echarts [options]="chartOption6" class="demo-chart col-6" ></div>

</div>
<div echarts [options]="chartOption7" class="demo-chart" ></div>
<div echarts [options]="chartOption8" class="demo-chart" ></div>
<br>
<div echarts [options]="chartOption3" class="demo-chart"></div>
<div echarts [options]="chartOption" class="demo-chart"></div>
<div echarts [options]="chartOption4" class="demo-chart"></div>

<div echarts [options]="chartoption1" class="demo-chart"></div>
<br> <br> <br>
<div echarts [options]="option" class="demo-chart"></div>

<button (click)="getRfPerUser(id)"></button>

<div echarts [options]="chartOption2" class="demo-chart"></div>


<p> rejection percentage = {{percentage}}%</p>


