    
   .container{ 
    
    border: solid;
    width: 50%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px 15px 15px 15px;
    border-style: groove;}


    