<div  class="bigcontainer " style="margin-left: 10%; ">
<div > 
    <h2>Request phrase</h2>
    <mat-icon class="question" mat-raised-button matTooltipClass="example-tooltip-red" matTooltip="Info about the action" matTooltipPosition="right"
    [matTooltipDisabled]="disabled.value"
    aria-label="Button that displays a tooltip that can be programmatically disabled">help_outline</mat-icon>

    <br><br>
</div>

<div class="file-upload">
    <input type="file" class="file-input" style="margin-right: 5%;" [accept]="requiredFileType"
        (change)="onFileSelected($event)" #fileUpload>
    {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>

    </button>

</div>

<div class="progress">

    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

    </mat-progress-bar>

    <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>

</div>

</div>

<!-- <h4>Outil.number</h4>
<div class="container " >
    <div>
        <p>outil.description</p>
        <p>outil.notification</p>
    </div>
    <div class="d-flex justify-content-left align-items-center mb-4 offset-1">
        <label for="file" class="uploadIcon  text-center bg-light   rounded-circle"><a > <mat-icon> attach_file</mat-icon></a></label>
        <input type="file" id="file" accept="image/*" class="form-control-file" />
        <img class="rounded-circle  "
              [src]="retrievedImage"
             alt="" width="50" height="50">
    
      </div>
</div> -->