<div class="bigcontainer " style="margin-left: 10%; ">
    <div>
        <h2>Request phrase</h2>
        <mat-icon style="margin-top: 6px;" class="question" mat-raised-button matTooltipClass="example-tooltip-red"
            matTooltip="upload a request file through this window" matTooltipPosition="right"
            [matTooltipDisabled]="disabled.value"
            aria-label="Button that displays a tooltip that can be programmatically disabled">help_outline</mat-icon>

        <br><br>
    </div>

    <div class="file-upload">
        <input type="file" class="file-input" style="margin-right: 5%;" [accept]="requiredFileType"
            (change)="onFileSelected($event)" #fileUpload hidden>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="file.fileType==1">
            {{file.name || "No file uploaded yet."}}
        </span>        <button style="position: absolute; left: 65%;" mat-mini-fab color="primary" class="upload-btn"
            (click)="openDialog()">
            <mat-icon>add</mat-icon>

        </button>

    </div>

    <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

        </mat-progress-bar>

        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>

</div>

<br><br>
<div class="bigcontainer " style="margin-left: 10%; ">
    <div>
        <h2>approximation</h2>
        <mat-icon style="margin-top: 6px;" class="question" mat-raised-button matTooltipClass="example-tooltip-red"
            matTooltip="upload an approximation through this window" matTooltipPosition="right"
            [matTooltipDisabled]="disabled.value"
            aria-label="Button that displays a tooltip that can be programmatically disabled">help_outline</mat-icon>

        <br><br>
    </div>

    <div class="file-upload">
        <input type="file" class="file-input" style="margin-right: 5%;" [accept]="requiredFileType"
            (change)="onFileSelected($event)" #fileUpload hidden>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="file.fileType==0">
            {{file.name || "No file uploaded yet."}}
        </span>
        <button style="position: absolute; left: 65%;" mat-mini-fab color="primary" class="upload-btn"
            (click)="openApproximationDialog()">
            <mat-icon>attach_file</mat-icon>

        </button>

    </div>

    <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

        </mat-progress-bar>

        <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>

    </div>
</div>
<br><br>
<div class="row">
    <div class="  col-4 m-5 p-2">
        <h1>Context of the request</h1> <br>

        <mat-form-field class="w-100">
            <mat-label>Brand</mat-label>
            <mat-select [(ngModel)]="selected" [formControl]="brand">
                <mat-option *ngFor="let brand of brands" [value]="brand">{{brand.marque}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label> ECU</mat-label>
            <input matInput [formControl]="ECU" required>
            <mat-error *ngIf="ECU.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Target</mat-label>
            <mat-select [(ngModel)]="selected1" [formControl]="target">
                <mat-option *ngFor="let target of targets" [value]="target">{{target.cible}}</mat-option>
            </mat-select>
        </mat-form-field>



    </div>
    <div class="col-6">
        <section class="example-section">
            <h1>Checklist to verify:</h1>
            <p *ngFor=" let v of values">
                <mat-checkbox [checked]="v.state" (change)="v.state=!v.state">{{v.infos}}</mat-checkbox>
            </p>

        </section>
    </div>


</div>
<div class="col-6 m-5">
    <mat-form-field class="w-50">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="file.echeanceRC">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
</div>
<button mat-button class="mat-raised-button  " style="position: relative; left: 80%;" color="accent"
    (click)=" updloadFile()">Validate </button>