<mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" class="  shadow  ">
        <span class="w-100">
            <img src="../../assets/img/logo-actia.png" alt="logo" height="50" width="240">
        </span>
        <div class="nav-link text-center  ">
            <img [src]="retrievedImage" (error)="onError()" class="rounded-circle  mt-0 " height="70" width="70" alt="image">
            <p class="name mt-2">{{user?.firstName}} {{user?.lastName}}</p>
            <p class=" designation">{{user?.role}}</p>
        </div>
        <ul class="nav">
            <li class="nav-item text-center">
                <button mat-button class="menu-button  " #button1 routerLink="/dashboard/listFiles">
                    <mat-icon>dashboard</mat-icon>
                    <span> <a class="dashboard" (click)="redirectDashboard()">{{'Dashboard' | translate}}</a></span>

                </button>
            </li>
            <li class="nav-item text-center">
                <button mat-button class="menu-button  ">
                    <mat-icon> bar_chart</mat-icon>
                    <span> <a class="dashboard" href="http://172.31.103.213/kibana/s/multidiag/app/kibana#/discover?_g=()&_a=(columns:!(_source),filters:!(),index:'1171c0d0-74bd-11ea-abfd-71f9ac7a8e88',interval:auto,query:(language:lucene,query:''),sort:!(_score,desc))">Kibana</a></span>

                </button>
            </li>
            <li class="nav-item">
                <mat-accordion >
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                        class="panel">
                        <mat-expansion-panel-header class="menu-button  ">

                            <mat-icon>memory</mat-icon>

                            <span> {{'Tools' | translate}} </span>

                        </mat-expansion-panel-header>
            <li class="nav-item text-center">
                <button mat-button class="menu-button  " routerLink="/dashboard/toolsmanager">
                    <mat-icon>memory</mat-icon>
                    <span> <a class="tools" (click)="redirectTools()">{{'Tools' | translate}}</a></span>
                </button>
            </li>
            <li class="nav-item text-center">
                <button mat-button class="menu-button  " routerLink="/dashboard/logs">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span> <a class="tools" (click)="redirectLogs()">Logs</a></span>
                </button>
            </li>
            </mat-expansion-panel>
            </mat-accordion>
            </li>
            <li class="nav-item text-center">
                <button mat-button class="menu-button  " #button1 routerLink="/dashboard/faq">
                    <mat-icon>question_answer</mat-icon>
                    <span> <a class="dashboard" (click)="redirectFaq()">{{'FAQs' | translate}}</a></span>
                </button>
            </li>

            <li class="nav-item text-center">
                <button mat-button class="menu-button  " #button1 routerLink="/dashboard/stats">
                    <mat-icon>show_chart</mat-icon>
                    <span> <a class="dashboard" (click)="redirectStats()">{{'Statistics' | translate}}</a></span>
                </button>
            </li>

            <li class="nav-item text-center">
                <button mat-button class="menu-button  " #button1 routerLink="/dashboard/administration">
                    <mat-icon>domain</mat-icon>
                    <span> <a class="dashboard" (click)="redirectAdministration()">{{'Administration' | translate}}</a></span>
                </button>
            </li>


        </ul>

        <div class="fixed-bottom mb-1">
            <span class="nav-item">
                <p class="designation menu-button ">ACTIA 2022 © </p>
            </span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class=" bg-light">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <div class="col-2">
                <div class="custom-select"> <mat-icon style="vertical-align: -7px;">language</mat-icon>
                    <select (change)="changeLang($event.target.value)">
                 <option value="en" [selected]="lang =='en'">En</option>
                 <option value="fr" [selected]="lang =='fr'">Fr</option>
               </select></div>
             </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <img [src]="retrievedImage" (error)="onError()" class="rounded-circle  " height="28" width="28" alt="image">
            </button>
            <mat-menu #menu="matMenu">

                <span mat-menu-item class="text-center">
                    <p class="name">{{user?.firstName}} {{user?.lastName}}</p>
                    <p class="designation">Member since {{user?.creationDate|date}} </p>
              
                  </span>

                <hr>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
            </mat-menu>
        </mat-toolbar>

        <div>
            <div class="container mb-5 mt-5 ">
                <router-outlet></router-outlet>

            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>


