.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container{
  height: 100%;
  display:block;
  overflow:scroll;
}


mat-sidenav{
  width: 255px;
}
.menu-button {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #8D9498;
  padding: 16px 30px ;}

  mat-icon {
    margin-right: 15px;
  }

.nav-item{
  width: 100%;
  color: #3c4858;
}
.nav-item:hover{
background: #70A888;
  color: white;
}
.menu-button:hover{
color :white;
}
.info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}


.name{
  font-family: Roboto,sans-serif;
  width: 210px;
  height: 18px;
  margin: 0px ;
  font-size: 14px;
  color: #404852;
}
.designation{
  font-family: Roboto,sans-serif;
  font-size: 12px;
  color: #8D9498;
}
mat-toolbar{
  background: #70A888;
  height: 58px;}

  
  mat-icon {
   color: gray;
   
  }


img {

  border: 2px solid white;
}

span{
  color: black;
}
.requestphrase {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
a{
  color: gray;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: none;
}
select{
font-size: 12px;

border: none;
    background: transparent;
    width: 55px;
    overflow: hidden;
    height: 29px;
    text-indent: 10px;
    -webkit-appearance: none;
    border-color: #3c4858;
}


