
<h1 mat-dialog-title>{{'Add brands' | translate}}</h1>
<div mat-dialog-content  >
  <div class="example-container">
    <div appearance="fill" class="w-100">
      <mat-label>{{'Create a new brand' | translate}}</mat-label>
      <br><br>
      <input type="text" class="form-control" placeholder="{{'Brands' | translate}}" [formControl]="marque" [(ngModel)]="brand.marque" aria-describedby="basic-addon2">
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button mat-button (click)="add()">{{'Create' | translate}}</button>

</div>
