




<table class="styled-table">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let faqItem of ListFaqs">
      <tr>
          <td>{{faqItem.question}}</td>
          <td>{{faqItem.user.firstName}} {{faqItem.user.lastName}}</td>
          <td><button mat-icon-button    matTooltip="Edit user"   matTooltipPosition="left" (click)="onEdit(faqItem)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn"    matTooltip="delete user" matTooltipPosition="right" (click)="deleteUser(faqItem.id)"><mat-icon>delete_outline</mat-icon></button>
    </td>
      </tr>
  </tbody>
</table>