<div class="example-button-container">
  <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="redirectfaq()"
    style="position: relative; left: 90%;">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<br>
<mat-toolbar color="primary">FAQ</mat-toolbar>
<mat-card>
  <mat-card-content fxLayout="column">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{'The question' | translate}}</mat-label>
      <input matInput [formControl]="quest">
      <mat-hint>{{'Add here the question of your clients' | translate}}</mat-hint>
    </mat-form-field>

<br>
    <mat-label>{{'Description' | translate}}</mat-label>
    <ejs-richtexteditor #exampleRTE>
      <ng-template >
      </ng-template>
    </ejs-richtexteditor>
    <mat-hint>{{'Please type an appropriate description here to the above question' | translate}}</mat-hint>

  </mat-card-content>

  <mat-card-actions fxLayoutAlign="end">
    <button mat-fab color="primary" id="button" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br><br><br><br><br><br><br><br><br><br>