<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <h3 class="breadcrumb-item active" aria-current="page">{{'Tools Management' | translate}}</h3>
  </ol>
</nav>


<div class="row" style="width: 100%;"> 
  <form method="POST" enctype="multipart/form-data" action="/tool">
    <div class="col-6">


      <h2>{{'Tool description' | translate}}</h2>

      <mat-form-field appearance="outline">
        <mat-label>{{'Tool description' | translate}}</mat-label>
        <textarea matInput [(ngModel)]="tool.description" name="tool.description" rows="12"></textarea>
      </mat-form-field>
    </div>

    <div class="col-5">
      <h2>{{'Tool to upload' | translate}}</h2>

      <div style="text-align:center">
        <input type="file" name="file" (change)="onSelectFile($event)" />
      </div>
      <h2>{{'Image to upload' | translate}}</h2>
      <div style="text-align:center">
        <input type="file" name="image" (change)="onSelectImage($event)" />
      </div>
      

    </div>

    <button mat-button class="mat-raised-button  " style="position: relative; left: 80%;" color="accent"
      (click)=" updloadFile()">{{'Upload' | translate}} </button>
  </form>
</div>