<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <h3 class="breadcrumb-item active" aria-current="page">Tools Management</h3>
  </ol>
</nav>

<div class="container">

  <div class="row">
    <form method="POST" enctype="multipart/form-data" action="/tool">

      <h2 class="col-6">Tool name </h2>
      <input matInput class="col-6" appearance="fill" placeholder="Ex. Tool.exe" type="text" style="width: 100%;"
        [(ngModel)]="tool.name" name="tool.name" />

      <h2 class="col-6">Tool description</h2>
      <input matInput placeholder="Ex. Pizza" type="text" [(ngModel)]="tool.description" name="tool.description" />


      <h2 class="col-6">Tool to upload</h2>

      <div style="text-align:center">
      <input type="file" name="file" (change)="onSelectFile($event)" />
    </div>
      <h2 class="col-6">Image to upload</h2>
      <div style="text-align:center">
        <input type="file" name="image" (change)="onSelectImage($event)"  />
        </div>
        <img class="card-img-top img-responsive  " [src]="retrievedImage"
          style="height :100px;width:100px ;border: solid 2px white ;display: block;margin-left: auto;
          margin-right: auto;
          ;" alt="">
      


      <button mat-button class="mat-raised-button  " style="position: relative; left: 80%;" color="accent" (click)=" updloadFile()">Correct </button>
    </form>
  </div>

</div>